.DS_Store
.env
.env.local
.env.production

/composer-setup.php

/storage/logs/*
!/storage/logs/.gitkeep

/storage/exports/*
!/storage/exports/.gitkeep

/public/uploads/trips/*
!/public/uploads/trips/.gitkeep

node_modules/
vendor/

.idea/
.vscode/
